@import "../../lib/bootstrap-4.2.1/scss/bootstrap.scss";

$background:#282D31;
$divback: #9C9C9C;

$text-color: #8D8D93;
$input-color: #C6C6C9;

body{
    background-color: $background;
    position: relative;
}

#configContainer{
    background-color: $divback;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    #searchBarContainer{
        height: 50%;
        background-color: $input-color;
        margin-left: 15px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        .fa-search{    
            margin-left: 8px;
            color: $text-color;
            font-size: 15px;
            text-align: center;
        }
        #searchBar{  
            padding-left: 3px;
            font-size: 15px;
            color: $text-color;
            border-radius: 25px;
            height: 100%;
            background-color: transparent;
            border-color: transparent;
        }
        #searchBar:focus{
            outline: none;
        }
    }

    
    #sortToggle{
        display: flex;
        align-items: center;
        font-size: 10px;
        color: $text-color;
        height: 50%;
        background-color: $input-color;
        margin-right: 15px;
        border-radius: 25px;
        .btn-primary{
            background-color: #7F7F7F;
            border-color: transparent;
            text-align: center;
        }
        .toggle, .toggle-on, .toggle-off {
            border-radius: 20rem; 
        }
        .toggle .toggle-handle { 
            border-radius: 20rem; 
        }
        .sortContent{
            float: left;
            margin-left: 10px;
            margin-right: 10px;   
            font-size: 15px;
        }
    }
}

.formbtn{
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 5px 5px 7px black;
    float: right;
    background-color: $divback;
    border-radius: 50%;
    color: black;
    margin-top: 5px;
    margin-right: 20px;
}

.form-group{
    display: flex;
    .form-control{
        width: 25%;
    }
    label{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        margin-left: 10px;
        font-size: 20px;
    }
}

.addform{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    #submit{
        background-color: $background;
        color: white;
    }
}

a{
    font-size: 17px;
    color: black;
    text-decoration: none;
}
.student{
    font-size: 17px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: black;
}

#accordion{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.removeContainer{
   position: absolute;
   top: 3px;
   right: 11px; 
   a{
       font-size: 22px;
   }
}

.collapse.show{
    position: relative;
}

.offset-7.col-2{
    text-align: center;
}

.card{
    box-shadow: 5px 5px 7px black;
    background-color: $divback;
    border-radius: 0px;
    margin-bottom: 15px;
    .card-header{
        padding: 0;
    }
    .btn{
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        font-size: 20px;
        color: black;
        text-decoration: none;
    }    
    .qrcode{
        display: inline-block;
    }
}