@import "../../lib/bootstrap-4.2.1/scss/bootstrap.scss";

$background:#282D31;
$divback: #9C9C9C;
body{
    background-color: $background;
}

.formbtn{
    box-shadow: 5px 5px 7px black;
    float: right;
    background-color: $divback;
    border-radius: 50%;
    color: black;
    margin-top: 5px;
    margin-right: 20px;
}

.form-group{
    display: flex;
    .form-control{
        width: 25%;
    }
    label{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        margin-left: 10px;
        font-size: 20px;
    }
}

.addform{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    #submit{
        background-color: $background;
        color: white;
    }
}

a{
    font-size: 17px;
    color: black;
    text-decoration: none;
}
.student{
    font-size: 17px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: black;
}

#accordion{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.card{
    box-shadow: 5px 5px 7px black;
    background-color: $divback;
    border-radius: 0px;
    margin-bottom: 15px;
    .card-header{
        padding: 0;
    }
    .btn{
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        font-size: 20px;
        color: black;
        text-decoration: none;
    }
}